@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@700&family=Source+Sans+Pro&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+Ahom&family=Source+Sans+Pro&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
*{
	margin: 0;
	padding: 0;
	
}
body{
	display: flex;
	background-color: #212121;
	width: 100%;
	padding: 80px;
	box-sizing: border-box;
}
.content-left{
	width: 35%;
	margin-right: 7%;
}
.content-right{
	width: 58%;
	background-color: #272727;
	box-sizing: border-box;
	padding: 25px;
}




.title{
	color: #BB85FD;
	font-family: 'Roboto Slab', serif;
	font-size: 80px;
	margin-bottom: 30px;
}
.content-btn{
	background-color: #2B2B2B;
	padding: 15px;
	margin-right: 10px;
	color: #19E0CB;
	display: inline-block;
	cursor: pointer;
	transition: 350ms;
}
.content-btn:hover{
	background-color: #4B4B4B;
}



.cmd-display{
	color: #707070;
	width: 100%;
	padding: 25px;
	background-color: white;
	margin-top: 50px;
	height: 300px;
	box-sizing: border-box;
	padding-bottom: 50px;
	position: relative;
	font-family: 'Noto Serif Ahom', serif;
	
}
.cmd-placeholder{
	position: absolute;
	bottom: 10px;
	left: 20px;

}
.box {
    width: 10px;
    height: 5px;
    background-color: red;
    animation: box-animation 1.2s infinite;
    transition: 0ms;
  }
  
@keyframes box-animation {
    0% {
      background-color: white;
    }
    100% {
      background-color: black;
    }
  }
.cmd-input{
	width: 100%;
	color: #707070;
	font-family: 'Noto Serif Ahom', serif;
	font-size: 16px;
	border: 0px;
	resize: none;
	max-height: 200px;
}
.cmd-form{
	max-height: 400px;
}
[contentEditable=true]:empty:before {
    content: attr(placeholder);
    opacity: 0.6;
  }
.cmd-submit{
	margin-top: 20px;
	padding: 15px;
	padding-left: 45px;
	padding-right: 45px;
	background-color: #2B2B2B;
	color: #19E0CB;
	outline: none;
	border: none;
	cursor: pointer;
	float: left;
	transition: 350ms;

}
.cmd-submit:hover{
	background-color: #4B4B4B;
}




  .table{
  	border-right: 1px solid white;
  	color: #19E0CB;
		font-family: 'Noto Serif Ahom', serif;
  }
  .table-interact{
  	display: flex;
  }
  .refresh{
  	width: 30px;
  	margin-left: 20px;
  	cursor: pointer;
  	margin-top: 5px;
  	transition: 350ms;
  }
  .refresh:hover{
  	opacity: 0.5;
  }
  .table-title{
  	color: #BB85FD;
  	margin-bottom: 10px;
  	font-size: 30px;
  	font-family: 'Noto Serif Ahom', serif;
  }
  .cell{
  	border-left: 1px solid white;
  	border-bottom: 1px solid white;
  	padding: 10px;
  }
  .column-name{
  	padding: 6px;
  	padding-top: 10px;
  	border: 1px solid white;
  	border-right: 0px;
  	padding-left: 25px;
  	padding-right: 25px;
  }